.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 15px 20px;
    color: white;
    border-radius: 8px;
}
.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.nav-buttons button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.nav-buttons button:hover {
    background-color: lightgray;
}
